body {
    position: relative;
    margin: auto;
    background-color: #f3f4ed;
}

.content {
    text-align: center;
}

.topAside {
    font-family: Impact, Charcoal, sans-serif;
    background: #b9e0cc;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    bottom: 0;
    top: 0;
    margin:0 auto;
    height:100vh;
    overflow: hidden;
    border-radius: 4px;
    color: #fff;

    img {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 70%;
        height: auto;
        pointer-events: none;
    }

    .skills-bars {
        position: absolute;
        left: 20px;

        .title{
            margin-top: 15px;
            text-align: left;
            color: #808080;

            header{
                color: #808080;
                font-size: 25px;
            }

            p{
                font-size: 14px;
            }
        }

        .skill-bar-container {
            color: #808080;

            dd {
                margin-bottom: 2px;
            }

            .skill-name{
                width: 110px;
                font-size: 14px;
                display: inline-block;
                left: 25px;
                line-height: 17px;
                height: 17px;
                vertical-align: top;

                dd {
                    height: 17px;
                }
            }

            .skill-bar-wrap{
                height: 17px;
                width: 150px;
                background: #fff;
                display: inline-block;
                border-radius: 20px;

                .skill-bar{
                    height: 17px;

                    span {
                        display: block;
                        height: 17px;
                        background: #808080;
                        border-radius: 20px;
                        -webkit-animation: animateSkillBar .5s;
                        animation: animateSkillBar .5s;
                    }
                }
            }
        }
    }

    .scroll-arrow {
        position: absolute;
        right: 50px;
        bottom: 100px;

        &:hover {
          opacity: .5;
        }

        .arrow-container {
            position: relative;
        }

        a {
            position: absolute;
            top: 0;
            right: 20px;
            width: 24px;
            height: 24px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
            -webkit-animation: arrowAnimation 2.5s infinite;
            animation: arrowAnimation 2.5s infinite;
            box-sizing: border-box;
        }
    }
}

.linkIcons {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 2;
    text-align: right;

    ul {
        position: relative;
        width: auto;
        color: #808080;
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }

    li{
        border-radius: 10px 0 0 10px;
        -webkit-animation: animateRightIcons .5s;
        animation: animateRightIcons .5s;
        transition: all 0.4s linear;
        text-align: left;
        margin: 0 0 5px 0;
        right: 0;
        padding: 0 10px;

        &:first-child {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: .5s;
        }

        &:nth-child(3) {
            animation-delay: 1s;
        }

        &:nth-child(4) {
            animation-delay: 1.5s;
        }

        a{
            color: #808080;
            text-decoration: none;

            i {
                font-size: 18px;
            }
        }

        &:hover {
            transform: scale(1.5);

            a {
                opacity: 0.8;
            }
        }
    }
}

.mainContent {
    display: inline-block;
    text-align: left;
    width: 100%;

    .nav {
        font-family: Impact, Charcoal, sans-serif;
        position: relative;
        text-align: center;
        bottom: 0;
        top: 0;
        border: none;
        margin:0 auto 20px;
        overflow: hidden;
        border-radius: 0;
        padding: 20px 15px;
        background: #a9e8c6;

        a{
            font-size: 20px;
            color: #808080;
            text-decoration: none;
            display: inline-block;
            margin-right: 20px;

            &:hover {
                color: #000;
                opacity: 0.9;
                text-decoration: none;
            }
        }
    }

    .detailHead {
        margin: 20px 0 15px;
        padding: 10px 0 10px 30px;
        height: 36px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        font: normal 29px/normal Impact, Charcoal, sans-serif;
        color: #ffffff;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: #a9e8c6;
        -webkit-box-shadow: 4px 2px 2px 0 rgba(0,0,0,0.2);
        box-shadow: 4px 2px 2px 0 rgba(0,0,0,0.2);
        text-shadow: 3px -1px 0 rgba(15,73,168,0.66);
    }

    .detailContent {
        font-family: Impact, Charcoal, sans-serif;
        position: relative;
        box-shadow: 0 2px 2px 0;
        width: 100%;
        padding: 15px 0 20px 20px;
        overflow: hidden;
        border-radius: 10px;
        color: black;
    }
}

.footer {
    position: relative;
    margin-top: 30px;
    padding: 1px;
    background-color: #a9e8c6;
    text-align: center;

    p {
        margin: 20px auto 20px
    }

    a{
        color: #cc211e;
        text-decoration: none;
    }
}

//animations
@keyframes arrowAnimation {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes animateSkillBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes animateRightIcons {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}


//responsive design
@media screen and (max-width: 767px) {
    .topAside {
        height: 50vh;
    }
}

@media screen and (max-width: 530px) {
    .topAside {
        height: 35vh;

        img {
            width: 90%;
        }
    }
}
